In [2]:
import os

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

1. Training Set Construction (5 pts)
Construct the training set for the amazon review dataset as instructed and report the following statistics.
Statistics

- the total number of unique words in T
- the total number of training examples in T  
    : 2000 
- the ratio of positive examples to negative examples in T   
    : 1:1  
- the average length of document in T
- the max length of document in T

In [6]:
path     = './data/'
testdir  = path + 'test/'
traindir = path + 'train/'

In [10]:
with open(testdir+'negative/'+'0','r') as f:
    content = f.read()

In [14]:
df = pd.DataFrame(columns = ['n','review','target'])

In [15]:
df

Empty DataFrame
Columns: [n, review, target]
Index: []

In [45]:
path = './data/train/'

label = 'positive'

poslist = [ os.path.join(path,label,name) for name in os.listdir(path+label) ]

label = 'negative' 
neglist = [ os.path.join(path,label,name) for name in os.listdir(path+label) ]

In [85]:
sep = os.path.sep

for fpath in poslist :
    num = fpath.split(sep)[-1]
    with open(fpath,'r') as f :
        content = f.read()
        
    item = dict(zip(df.columns,[num,content,1] ) )
    df = df.append(item,ignore_index=True)

for fpath in neglist :
    num = fpath.split(sep)[-1]
    with open(fpath,'r') as f :
        content = f.read()
        
    item = dict(zip(df.columns,[num,content,0] ) )
    df = df.append(item,ignore_index=True)

In [98]:
posRatio = len(poslist)/len(neglist)

In [99]:
posRatio

1.0

In [100]:
df

         n                                             review target
0     1002  greatest spy thriller this is the true account...      1
1     1004  rick steves books are the best i love the way ...      1
2     1006  fascinating as a geography and history buff , ...      1
3     1007  plymoth we were very pleased with our books . ...      1
4     1008  is it reality or a blend of reality and fantas...      1
...    ...                                                ...    ...
1995   991  dumb this is one of the stupidest books i have...      0
1996   992  buyer beware after reading this dull uninforma...      0
1997   993  not worth the money this book is only low to m...      0
1998   997  a step back i have been reading this book for ...      0
1999   999  the missing element an excellent and important...      0

[2000 rows x 3 columns]

In [97]:
len(df)

2000

In [21]:
with open(poslist[0],'r') as f:
    print(f.read())

greatest spy thriller this is the true account of a spy by the name of virgina hall who very little is known about and even though she had a wooden leg she was an american spy during world 2 working first for the british and thean the americans deep behind german lines she saved many allied lifes , destroyed countless german trains and lead many freedom fighters on countless raids agaist nazi forces . for her bravery she was decorated by both the american and british goverment . the arthur judith l. pearson has interviewed and tracked down many formor freedom fighters who have shared there memorys of mrs halls world war 2 experiences and this remarkable writer has also traveled to the exact locations were this freedom fighter was and has for the first time got access to some real one of a kind records on the life of this very special spy . it was amazing to me that this spy accomplished all of these many things with a wooden leg . this book would really make a special gift for a friend , family member and or soldier serving over seas